.container{
    margin:20px;

}
header{
   
    padding: 20px;
   
}
.aybolitnavbar{
    margin:20px;
    display: flex;
    justify-content: space-between;
}
.texts{
    display: flex;
    gap:70px;
    padding:20px;
}
.texts_item{
    font-weight:700;
    font-size: 20px;
    color:rgba(195, 185, 181, 1);
}
.location{
    display: flex;
    gap: 20px;
    p{
        font-size:20px;
        font-weight: 700;
        color:rgba(255, 197, 158, 1);
        margin-top:40px;
    }
}

#intro{
    margin-top:180px;
}
.introall{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
}
.itexts{
    margin-left:400px;
    h1{
        font-size:80px;
        color:rgba(8, 6, 6, 1);
        font-weight: 400;
    }
}
.buyurtma{
    width:284px;
    height: 64px;
    border-radius:35px;
    border-color: rgba(255, 197, 158, 1);
    background-color:rgba(255, 197, 158, 1);
    border-style: none;
    font-weight: 700;
    font-size:20px;
    color:rgba(255, 255, 255, 1);
}

.socials{
    width: 310px;
    height: 40px;
    display: flex;
    gap:90px;
    margin-top:120px;
}
.inst{
     
          width:800px;
          height:800px;
    
}
